

#container {
    transform: translate(0, 50px);
}

svg {
    /* remove spacing between svgs, ref[0] */
    margin-top: -4px;
}

.interval {
    fill: #ff4dff;
    stroke: #b300b3;
    opacity: 0.7;
    filter:url('#blur');
    clip-path: url(#clip_interval);
    animation: skewing-child .2s ease-in-out infinite alternate;
}

.event {
    stroke-width: 3px;
    stroke: #a200ff;
    
    
    filter:url('#blur');
    clip-path: url(#clip_event);
}

.axis .tick line {
    opacity: 0.1;
    stroke-width: 2px;
}

.line_infreq {
    fill: none;
    stroke: #000000;
    stroke-width: 2px;
    opacity: 0.3;
    clip-path: url(#clip_infreq);
}

.circle_infreq {
    fill: #ffffff;
    stroke: #29a329;
    stroke-width: 2px;
    
    clip-path: url(#clip_infreq);
    
}

.line_freq {
    fill: none;
    stroke: #000000;
    clip-path: url(#clip_freq);
}


@keyframes skewing-child {
    0%      { transform: skewX(-5deg); }
    100%     { transform: skewX(5deg); }
  }

  @keyframes squishing {
    10%, 40%, 80% { transform: scale(1, .9); }
    0%, 30%, 60%, 100% {transform: scale(.9, 1);}
  }